<launch>
    <node pkg="simple_localmap_creator" type="localmap_creator_node" name="localmap_creator_node" output="screen">
        <rosparam>
            hz: 10
            map_width: 20
            map_height: 20
            map_resolution: 0.1
        </rosparam>
        <remap from="/scan" to="/scan"/>
        <remap from="/localmap" to="/localmap"/>
    </node>
</launch>
